:root {
    --title-text-color:black;
    --p-text-color:rgb(127, 118, 255);
    --highlight-color: #21dbf3;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    outline: 1px solid tomato;
    margin-right: auto;
    margin-left: auto
}
/*отключение точек в списке*/
.list {
    list-style: none;
}
/*цвет первой части логотипа сайта*/
.logo-first {
    color: var(--highlight-color);
}
/*стиль второй части логотипа сайта*/
.logo-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}
/*стиль списка шапки сайта*/
.more {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--highlight-color);
}

.section {
    display: block;
    text-align: center;
    background-color: black;
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.block {
    padding-top: 200px;
    padding-bottom: 200px;
}

/*слоган эффективные услуги для вашего бизнесса*/
.slogan {

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*стиль конкретно кнопки заказать услугу*/
.link-btn {

    display: inline-block;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--highlight-color);
    text-decoration: none;
}


/*стиль секции особенности*/
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
/*стиль описания секции особенности*/
.desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}
/*стиль подзаголовка секций специализация и наша команда*/
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer {
    /* width: 1600px;
    height: 150px;
    left: 0px;
    top: 1000px; */
    background: #2F303A;
}
/*цвет первой части логотипа в футере*/
.logo-sec {
    color: rgb(0, 0, 0);
}
/*стиль навигации (телефон,адрес) в футере*/
.nav-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
